* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 3rem 5rem 0 5rem;
}
header {
  height: 85vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/Banner\ Image.png");;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  color: #ffffff;
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-titles {
  width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header-titles h1{
    font-size: 5rem;
}
.header-titles h3{
    font-size: 1.5rem;
}